/target/
**/*.rs.bk
/images/*
**/.DS_Store
/text-detection-images/*
/text_det_tensor_files/*
/text_detection_results/*
**/.DS_Store
test_images_data
test_labels_data
training_images_data
training_labels_data
/log/*
**/*.model
test_data/
.git/
training_images_data_char_rec
training_labels_data_char_rec
test_images_data_char_rec
test_labels_data_char_rec

# profiling output
perf.data
perf.data.old
flamegraph.svg